{% extends 'admin/base.html' %}



{% block body %}
<div class="container-fluid">
        <div class="row">
          <div class="col-12 mb-3">
          <div class="col-12 mb-3">
              <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="">User : {{ object.username }} </a>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table text-warning"></i>
                    Detalhes do usuário
                </div>
                <div class="card-body">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}

    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <div class="alert alert-warning" role="alert">
                  Você tem certeza que quer deletar o : {{ object }} ?
                </div>
                <input type="submit" class="btn btn-danger" value="Sim, deletar" />
                <a class="btn btn-success" href="{% url 'aluser' %}">Não, voltar para a pagina anterior</a>
            </form>
        </div>
    </div>

                  


          </div>
        </div>
      </div>
    </div>
{% endblock %}
